@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
body{
    font-family: 'Playfair Display', serif;
}


/* 
MOBILE FIRST MQ
when the screen is bigger than 768 apply these style */
@media screen and (min-width: 768px){
    .example {
        font-size: 50px;
    }
    .logo{
        padding:0 0.5rem;
        border: 4px solid black;
    }
    .logo .word .remaining-word{
        display:none;
    }
}

/* this applies to the smallest screen size, the mobile version */
.example {
    font-size: 40px;
}
.example p{
    margin:0;
}
.logo {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.logo .word{
    text-transform: uppercase;
}
.logo .word .remaining-word{
    display:none;
}

/* this applies to the biggest screen size, when the screen is bigger than 1200 than this style applies */
@media screen and (min-width: 1200px){
    .example {
        font-size: 60px;
    }
    .logo{
        padding:0.5rem 1rem;
        border: 8px solid black;
    }
    .logo .word{
        padding-right: 0.8ch;
    }
    .logo .word .remaining-word{
        display: inline-block;
    }
}

/* LABTOP FIRST MQ
write the normal screen size stylesheet first */

/* this one applies when the screen size gets smaller than 1200 */
/* @media screen and (max-width: 1200px) {

}

this one applies when the screen size gets smaller than 768, the mobile version
@media screen and (max-width: 768px) {
    
} */