@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
body{
  background: linear-gradient(-45deg, #FFE2AD, #921212, #FFE2AD, #921212);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100%;
    
}
.flexbox-container{
    max-width: 1500px;
    margin:40px auto 0 auto;
    padding: 20px 50px;
    display: flex;
    align-items: flex-start;
}
.title{
    font-family: 'Caveat', cursive;
    font-size:45px;
    color:#c61616;
    width:20%;
    position: sticky;
    top:0;
    }
    

.text{
    padding: 30px;
    padding-left: 90px;
    font-family: 'Caveat', cursive;
    width: 45%;
    font-size: 25px;
}

.text p{
    position: relative;
    margin:0;
    text-indent:50px;
}

.color{
    display: inline-block;
    position: relative;
}
.color a{
    color: #921212;
}
.color a:hover{
    background-color: #FFE2AD;
    font-size:100px;
}
.color .tooltiptext {
    visibility: hidden;
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    padding: 10px 15px;
    z-index: 1;
    border-radius: 6px;
    top: 100%;
  left: 60%;
  margin-left: -60px;
    display: inline-block;
    position: absolute;
}
.color .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
  }
  
.color:hover .tooltiptext{
    visibility: visible;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.designer{
    font-family: 'Caveat', cursive;
    color: #FFE2AD;
    font-size: 20px;
    place-content: right;
    position: sticky;
    top:0;
}
@media screen and (max-width:768px){

.title{
    transform:rotate(-90deg);
    display:block;
    font-size: 25px;
    width:100px;
}
}