@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

#Home {
  font-size: 35px;
}
body { 
  font-family: 'Inter', sans-serif; 
  background-color:#2E4053;
  color: #F4D03F;
}
/* ul li{
  
} */
ol{
  color:#82E0AA;
}
.container {
    width: 800px;
    margin: 0 auto; 
}
#name{
  color:white;
}
#content{
  color: white;
}
#menu a:link{
  color:#82E0AA;
}

#menu a:visited{
  color:#82E0AA;
}
#footer{
  color:white;
}
