@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
body{
    background-color:#f4d8b6;
    
}
.flexbox-container{
    display: flex;
   flex-direction: column;
   align-items: center;
}
.title{
    font-family: 'Alegreya', serif;
    font-size:20px;
    color:rgba(167, 30, 12, 0.973);
    text-align: center;
    }

.text{
    width: 800px;
    font-family: 'Alegreya', serif;
}
.bg{
    background: #921212;
    transition: 0.5s;
    color: #921212;
}
