@font-face {
    font-family: HK Grotesk;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
      format("opentype");
  }
  @font-face {
    font-family: HK Grotesk;
    font-weight: bold;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
      format("opentype");
  }
  body {
   background-color: #FCE9CB;
    color: #7B6A4F;
    font-family: HK Grotesk;
  }
  h1{
    color: #CEA96E;
    font-size: 80px;
  }
  hr{
    border: 5px solid rgb(112, 87, 49);
    border-radius: 2px;
  }