@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


/* html{
    background-image: url("assets/background") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
} */
body{ 
    animation: changeBg 50s infinite; 
    font-family: 'Shadows Into Light', cursive;
    margin: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: crosshair;
 }
@keyframes changeBg{
   0%,100%  {background-image: url("assets/background5.jpeg");}
   25% {background-image: url("assets/background6.jpeg");}
   50% {background-image: url("assets/background7.jpeg");}
   75% {background-image: url("assets/background8.jpeg");}
}


#mainImage{
    height: 100
}
.app{
    width: 100vw;
    height: 100vh;
    /* display:flex;
    flex-direction: column;
    align-items: center; */
}
header{
    position: absolute;
    left: 25%;
    top: 5%;
    font-size: 2rem;
    font-family: 'Gloria Hallelujah', cursive;
    color: #106085;
    background-color:rgb(206, 203, 187);
    opacity: 60%;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}
header h1{
    margin: 0;
}
.controls{
    position: absolute;
    left: 2%;
    top: 2%;
    width: 7vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgb(206, 203, 187);
    opacity: 70%;
    color: #106085;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.controls div {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    
}
/* input#radius{
    opacity: 100%;
} */
.title{
    font-size: 2rem;
}

.btn{
    padding: 3px;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    background-color: white;
}

.project{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(173, 173, 173); */
}

canvas{
    background-color: white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 20%;
    border-radius: 10px;
}
/* canvas{
    position: absolute;
    left: 11%;
    top: 15%;
    box-shadow: 3px 3px 3px;
    width: 1680px;
    height: 938px;
} */
input{
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: 0;
    text-align: center;
    color: rgb(161, 161, 161)
}

#screenshot-btn{
    height: 40px;
    width: 160px;
    font-size: 1.3rem;
    background-color:rgb(206, 203, 187);
    opacity: 60%;
    font-family: 'Shadows Into Light', cursive;
    color: #106085;
    border: none;
    border-radius: 10px;
    outline: none;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
#screenshot-btn:hover{
    background-color:white;
    height: 55px;
    width: 175px;
    font-size: 1.5rem;
    opacity: 80%;
}
/* @media screen and (max-width: 1200px) {

}

@media screen and (max-width: 768px) {
    
} */