@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

    body  {
        font-family: 'Roboto', sans-serif;
    }
    .flex-container {
        max-width: 1500px;
        margin: 40px auto 0 auto;
        padding: 20px 50px;
        display: flex;
        flex-direction: column;
    }
    .title{
        font-size: 30px;
    }
    .Aa{
        Font-size: 100px;
    }
    .about{
        text-align: right;
        font-size: 25px;
    }
    .example p{
        font-family: 'Roboto', sans-serif;
    }
    .example:nth-child(4){
        font-weight:100;
        font-size: 20px;
    }
    .example:nth-child(5){
        font-weight:300;
      font-size: 25px;
    }
    .example:nth-child(6){
        font-weight: 400;
      font-size: 30px;
    }
    .example:nth-child(7){
        font-weight: 500;
        font-size: 35px;
    }
    .example:nth-child(8){
        font-weight: 700;
        font-size: 40px;
    }
    .example:nth-child(9){
        font-weight: 900;
        font-size: 45px;
    }
    .glyphs{
        font-weight: 400;
        font-size: 30px;
    }


    @media screen and (max-width: 1200px){
        .flex-container{
            display: flex;
            flex-direction: column;
        }
        .about{
            text-align: right;
            width: 600px;
            position: absolute;
            right: 6%;
            top: 60%;
        }
        .about p br{
            display: none;
        }
        .example:nth-child(4){
            margin-top: 15%;
        }
    }

    @media screen and (max-width: 1024px){
        .flex-container{
            display: flex;
            flex-direction: column;
        }
        .about{
            text-align: right;
            width: 500px;
            position: absolute;
            top: 70%;
        }
        .about p br{
            display: none;
        }
        .example:nth-child(4){
            margin-top: 50%;
        }
        .glyphs p br{
            display: none;
        }
        }
        @media screen and (max-width: 768px){
            .flex-container{
                display: flex;
                flex-direction: column;
            }
            .about{
                text-align: center;
                width: 500px;
                position: absolute;
                top: 75%;
            }
            .about p br{
                display: none;
            }
            .example:nth-child(4){
                margin-top: 100%;
            }
            }