@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

body{
  background: linear-gradient(-45deg, #FFE2AD, #921212, #FFE2AD, #921212);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    
}
.flexbox-container{
    max-width: 1500px;
    margin:40px auto 0 auto;
    padding: 20px 50px;
    display: flex;
    align-items: flex-start;
}
.title{
    font-family:'Bad Script', cursive;
    font-size:45px;
    color:#c61616;
    width:20%;
    position: sticky;
    top:0;
    }
    

.text{
    padding: 30px;
    font-family:'Bad Script', cursive;
    width: 45%;
    font-size: 25px;
}

.text p{
    position: relative;
    margin:0;
    text-indent:50px;
}

.color{
    display: inline-block;
}
.color a{
    color: #921212;
}
.color a:hover{
    background-color: #FFE2AD;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
footer{
    font-size: 20px;
}