@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
body{
    background-color:#FFE2AD;
    
}
.flexbox-container{
    max-width: 1500px;
    margin:40px auto 0 auto;
    padding: 20px 50px;
    display: flex;
    align-items: flex-start;
}
.title{
    font-family: 'Caveat', cursive;
    font-size:40px;
    color:#c61616;
    width:20%;
    }
    

.text{
    
    font-family: 'Noto Serif Display', serif;
    width: 70%;
}
.bg{
    background: #921212;
    transition: 0.5s;
    color: #921212;
}
