

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-bg);
}

/* Very light scaling for our illustration */
.title {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-style: regular;
  font-size: 100px;
  line-height: 105%;
  margin: 10;
  padding-left: 10rem;
}

.Aa {
  font-family: 'Roboto', sans-serif;
  display: flex;
  float: left;
  text-align: center;
  font-size: 200px;
  margin: 0;
  border: 0;
  padding: 0 10rem 0 10rem;
  justify-content: space-between;
}

.about {
  font-family: 'Roboto', sans-serif;
  margin: 10rem 0 0 0;
  padding-top: 30px;
  font-size:20px;
}

a {
  color: skyblue;
}

.styles{
  padding:1rem 35rem 0 10rem;
  text-align: right;
  float: right;
}
.thin {
  font-family:'Roboto', sans-serif;
  font-weight: 100;
  font-size: 30px;
}
.light {
  font-family:'Roboto', sans-serif;
  font-weight: 300;
  font-size: 40px;
}
.regular {
  font-family:'Roboto', sans-serif;
  font-weight: 400;
  font-size: 50px;
}
.medium {
  font-family:'Roboto', sans-serif;
  font-weight: 500;
  font-size: 60px;
}
.bold {
  font-family:'Roboto', sans-serif;
  font-weight: 700;
  font-size: 70px;
}
.black {
  font-family:'Roboto', sans-serif;
  font-weight: 900;
  font-size: 80px;
}
.glyphs {
  padding:1rem 35rem 0 10rem;
  text-align: right;
  float: right;
  font-family:'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #ffffff;
}
